@import 'variables';
@import 'compass/css3';

h1.page-title {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  font-size: 30pt;
  text-align: right;
}

.page {
    margin-left: 0;
    border: 1px solid #eee;
    background-color: #fff;
}

.page-index {
    margin-top: 35px;
    position: fixed;
    width: 14%;
    .list-group > .list-group-item {
        border: none;
        border-bottom: 1px solid #eee;
        background-color: transparent;
        height: 50px;
        line-height: 32px;
        color: $brand-primary;

        &:first-child {
            @include border-top-left-radius(0);
            @include border-top-right-radius(0);
        }

        &:last-child {
            border-bottom: none;
            @include border-bottom-left-radius(0);
            @include border-bottom-right-radius(0);
        }

        &:hover {
            background-color: $brand-primary;
            color: #fff;
        }
    }
}

.page-content {
    left: 16%;
    h2 {
       &:first-child {
            margin-top: 0;
        }

        margin-top: 50px;
        font-size: 20pt;
    }
}

.page-background {
    background-image: url(/assets/img/trees.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #008900;
    background-size: 596px;
    background-attachment:fixed;
    padding: 0;
}
